<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheet.css">
</head>

<body>
    <!-- From Uiverse.io by german_7619 -->
    <div class="radio-inputs">
        <label class="radio">
            <input type="radio" name="radio" checked="" />
            <span class="name">
                <span class="pre-name"></span>
                <span class="pos-name"></span>
                <span> Tabs </span>
            </span>
            <div class="content">
                <div>
                    <div>Content</div>
                </div>
            </div>
        </label>
        <label class="radio">
            <input type="radio" name="radio" />
            <span class="name">
                <span class="pre-name"></span>
                <span class="pos-name"></span>
                <span> And </span>
            </span>
            <div class="content">
                <div>
                    <div>And content</div>
                </div>
            </div>
        </label>

        <label class="radio">
            <input type="radio" name="radio" />
            <span class="name">
                <span class="pre-name"></span>
                <span class="pos-name"></span>
                <span> More </span>
            </span>
            <div class="content">
                <div>
                    <div>More content</div>
                </div>
            </div>
        </label>

        <label class="radio">
            <input type="radio" name="radio" />
            <span class="name">
                <span class="pre-name"></span>
                <span class="pos-name"></span>
                <span> Tabs </span>
            </span>
            <div class="content">
                <div>
                    <div>And Even More content</div>
                </div>
            </div>
        </label>
    </div>

    <div>
        <section class="sec-tienda">
            <a href="{{ url_for('getFormulario_membresia') }}">Cargar Membresia</a>
            <a href="{{ url_for('getCargarCoins') }}">Cargar Coins</a>
            <a href="{{ url_for('getCargarMafias') }}">Cargar Mafias</a>
            <a href="{{ url_for('getCargarVehiculos') }}">Cargar Vehicos</a>
        </section>
    </div>
    <script src="" async defer></script>
</body>

</html>