<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <title>Document</title>
</head>
<body class="body-normas">
    <nav>
            <img class="logo" src="{{ url_for('static', filename='IMGS/Adobe_Vectors_-_Download_Free_High-Quality_Vectors_from_Freepik___Freepik.jpg') }}" alt="LOGO">
                <div>
                    <a href="/">Inicio</a>
                    <a href="/tienda">Tienda</a>
                    <a href="/normas">Normas</a>
                    <a href="https://discord.gg/eUejUWDHNc">Contactanos</a>
                </div>
                            {% if steam_user %}
                <div style="display:flex; align-items:center; gap:5px;">
                    <img class="steam-avatar" src="{{ steam_user.avatar }}" alt="">
                    <span>{{ steam_user.personaname }}</span>
                    <a href="{{ url_for('logout') }}"><button>Logout</button></a>
                </div>
            {% else %}
                <a href="{{ url_for('login') }}"class="login-link">Iniciar Sesion</a>
{% endif %}
        </nav>
        <div class="introduccion_normativas">
            <h3>Normativas de <em>PuntoRP</em></h3>
        </div>
        <div class="pagina-normativas">
            <div class="contenedor-normativas">
                <button data-area="generales">Normas generales</button>
                <button data-area="same">Normas Same</button>
                <button data-area="pfa">Normas PFA</button>
                <button data-area="mafias">Normas Mafias</button>
            </div>

            <div class="info-normativas-data">
            </div>
            </div>
        </div>
        <script>
            const normas = {
                generales: "<h2>Normas Generales</h2><p>Aquí van las normas generales...</p>",
                same: "<h2>Normas Same</h2><p>Estas son las normas del SAME...</p>",
                pfa: "<h2>Normas PFA</h2><p>Normas de la Policía Federal Argentina...</p>",
                mafias: "<h2>Normas Mafias</h2><p>Normas internas de las mafias en el server...</p>",
            };

            document.querySelectorAll(".contenedor-normativas button").forEach(btn => {
                btn.addEventListener("click", () => {
                    const area = btn.getAttribute("data-area");
                    document.querySelector(".info-normativas-data").innerHTML = normas[area];
                });
            });
            document.querySelector(".info-normativas-data").innerHTML = normas["generales"];
        </script>
</body>
</html>