<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <link rel="stylesheet" href="/Frontend/static/stylesheetIndex.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

        <link rel="stylesheet" href="/Frontend/static/stylesheet_normas.css">
        <link rel="stylesheet" href="/Frontend/static/stylesheet_tienda.css">
        <link rel="stylesheet" href="/Frontend/static/stylesheet.css">
        <link rel="stylesheet" href="/Frontend/static/producto.css">
        <link rel="stylesheet" href="/Frontend/static/vehiculos.css">

        <script src="/Frontend/templates/main.html"></script> 
        

        <script src="/Frontend/Logica/Controladores/tienda.js" defer></script>

        <script type="module" src="/Frontend/Logica/Controladores/index.js"></script>
        <script src="/Frontend/Logica/Controladores/main.js" defer></script>
    </head>
    <body>
        <nav>
        <h3 class="nombre-server">PuntoRP</h3>
        <div>
            <a href="index.html" id="">Inicio</a>
            <a href="#" id="tienda">Tienda</a>
            <a href="#" id="normas">Normas</a>
            <a href="https://discord.gg/eUejUWDHNc">Contactanos</a>
        </div>
        <div class="login-frame">
            <a href="http://localhost:5000/login" class="login-link" id="login-btn">Iniciar Sesion</a>
        </div>
    </nav>
        <div class="contenedor" id="contenedor">

            
        </div>
    </body>
</html>